<h3>Here are your current enrollments</h3>
<u><h4>Semester | Payment | Course </h4></u>
<% @enrollments.each do |enrollment| %>
    <p> 
    <%= enrollment.semester %> |
    <%= enrollment.payment_method %> |
    <%= enrollment.course.title %>
    </p>
<% end %>

<%= link_to 'Enroll in another course', new_student_enrollment_path(current_student) %>

